<div class="container-fluid d-flex align-items-center justify-content-center">
  <div class="text-center w-100">
    <form class="form-signin">
      <h1 class="h4 mb3 login">
        Criar conta
      </h1>
      <label for="inputEmail" class="sr-only">Email</label>
      <input type="email"
             id="inputEmail"
             name="email"
             placeholder="Email"
             class="form-control mb-2"
             [ngClass]="{
           'is-invalid': email.invalid && (email.dirty || email.touched),
           'is-valid': email.valid && (email.dirty || email.touched)

           }"
             [(ngModel)]="usuario.email"
             #email="ngModel"
             email
             required />
      <div class="invalid-feedback mb-2" *ngIf=" email.invalid && (email.dirty || email.touched || entrar_Onclick)">
        <div *ngIf="email.errors.required" class="text-left">
          Email é de preenchimento obrigatório

        </div>
        <div *ngIf="email.errors.email" class="text-left">
          Email não está no formato correto
        </div>
      </div>

      <label for="inputNome" class="sr-only">Nome</label>
      <input type="text"
             id="inputNome"
             name="nome"
             placeholder="Nome"
             class="form-control mb-2"
             [ngClass]="{
           'is-invalid': nome.invalid && (nome.dirty || nome.touched),
           'is-valid': nome.valid && (nome.dirty || nome.touched)

           }"
             [(ngModel)]="usuario.nome"
             #nome="ngModel"
             required />
      <div class="invalid-feedback mb-2" *ngIf=" nome.invalid && (nome.dirty || nome.touched || entrar_Onclick)">
        <div *ngIf="nome.errors.required" class="text-left">
          Nome é de preenchimento obrigatorio

        </div>
        <div *ngIf="nome.errors.nome" class="text-left">
          Nome não está no formato correto
        </div>
      </div>


      <label for="inputSobreNome" class="sr-only">Sobrenome</label>
      <input type="text"
             id="inputSobrenome"
             name="sobrenome"
             placeholder="Sobrenome"
             class="form-control mb-2"
             [ngClass]="{
           'is-invalid': sobrenome.invalid && (sobrenome.dirty || sobrenome.touched),
           'is-valid': sobrenome.valid && (sobrenome.dirty || sobrenome.touched)

           }"
             [(ngModel)]="usuario.sobreNome"
             #sobrenome="ngModel"
             required />
      <div class="invalid-feedback mb-2" *ngIf=" sobrenome.invalid && (sobrenome.dirty || sobrenome.touched || entrar_Onclick)">
        <div *ngIf="sobrenome.errors.required" class="text-left">
          Sobrenome é de preenchimento obrigatorio

        </div>
        <div *ngIf="sobrenome.errors.sobrenome" class="text-left">
          Sobrenome não está no formato correto
        </div>
      </div>

      <label for="inputSenha" class="sr-only">Senha</label>
      <input type="password"
             id="inputSenha"
             name="senha"
             placeholder="Senha"
             class="form-control mb-2"
             [(ngModel)]="usuario.senha"
             [ngClass]="{
           'is-invalid': senha.invalid && (senha.dirty || senha.touched),
           'is-valid': senha.valid && (senha.dirty || senha.touched)

           }"
             required
             senha
             #senha="ngModel" />

      <div class="invalid-feedback mb-2 " *ngIf="senha.invalid && (senha.dirty || senha.touched || entrar_Onclick)">
        <div *ngIf="senha.errors.required" class="text-left">
          Senha é de preenchimento obrigatorio
        </div>
        <div *ngIf="senha.errors.senha" class="text-left">
          Senha não esta no formato correto
        </div>
      </div>


      <button class="btn btn-primary btn-block mb-2" type="submit" (click)="cadastrar()" [disabled]="ativar_spinner">
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" *ngIf="ativarSpinner">
        </span>
        Cadastrar
      </button>
      <div>Já tem cadastro? <a [routerLink]="['/login']">Ir para login</a></div>
      <div class="alert alert-danger" role="alert" *ngIf="mensagem">
        {{ mensagemStr}}
      </div>
      <div class="alert alert-success" role="alert" *ngIf="usuarioCadastrado">
        Usuario cadastrado com sucesso! <a class="alert-link" [routerLink]="['/login']">Clique aqui</a>
        para entrar no sistema
      </div>

      <img [src]="caminhoBuyPicture" [title]="titulo" />
    </form>

  </div>
</div>
