<div class="container-fluid">
  <div class="row text-center">
    <h1 class="h4 titulo">
      Cadastro de Produto
    </h1>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="row">

        <label for="inputNome" class="sr-only">Nome</label>
        <input type="text" id="inputNome"
               name="nomeProduto"
               placeholder="Nome"
               class="form-control mb-2 col-md-4"
               [ngClass]="{
           'is-invalid': nome.invalid && (nome.dirty || nome.touched),
           'is-valid': nome.valid && (nome.dirty || nome.touched)

           }"
               [(ngModel)]="produto.nome"
               #nome="ngModel"
               required />
        <div class="invalid-feedback mb-2" *ngIf="nome.invalid && (nome.dirty || nome.touched)">
          Tem certeza que o nome está correto?
        </div>
      </div>
      <div class="row">
        <label for="inputDescricao" class="sr-only">Descrição</label>

        <input type="text" id="inputDescricao"
               name="descricaoProduto"
               placeholder="Descrição do produto"
               class="form-control mb-2 col-md-4"
               [ngClass]="{
               'is-invalid': descricao.invalid && (descricao.dirty || descricao.touched),
               'is-valid': descricao.valid && (descricao.dirty || descricao.touched)

           }"
               [(ngModel)]="produto.descricao"
               #descricao="ngModel"
               required
               minlength="50"
               />
        <div class="invalid-feedback mb-2" *ngIf="descricao.invalid && (descricao.dirty || descricao.touched)">
          <div *ngIf="descricao.errors.required">
            A descrição do produto é de preenchimento obrigatorio.
          </div>
          <div *ngIf="descricao.errors.minlength">
            Descrição deve ter no minimo 50 caracteres
          </div>
        </div>
       
      </div>

      <div class="row">
        <label for="inputPreco" class="sr-only">Preço</label>

        <input type="number" id="inputPreco"
               name="precoProduto"
               placeholder="Preço"
               class="form-control mb-2 col-md-2"
               [ngClass]="{
           'is-invalid': preco.invalid && (preco.dirty || preco.touched),
           'is-valid': preco.valid && (preco.dirty || preco.touched)

           }"
               [(ngModel)]="produto.preco"
               #preco="ngModel"
               required />
        <div class="invalid-feedback mb-2" *ngIf="preco.invalid && (preco.dirty || preco.touched)">
          O preço do produto é de preenchimento obrigatorio.
        </div>
      </div>
      <div class="row">

        <div class="input-group m-0 p-0 col-md-4">
          <div class="custom-file">
            <input type="file" class="custom-file-input" id="inputFile" (change)="inputChange($event.target.files)">
            <label class="custom-file-label" for="inputFile" *ngIf="produto.nomeArquivo == null">Escolher uma foto</label>
            <label class="custom-file-label" for="inputFile" *ngIf="produto.nomeArquivo != null">{{produto.nomeArquivo}}</label>
          </div>
          <!--<div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button" id="inputGroupFileAddon04">Button</button>
          </div>-->
        </div>

      </div>

      <div class="row mt-3">
        <div class="col-md-4">
          <div class="row d-flex justify-content-between">
            <button class="btn btn-primary col-5" (click)="cadastrar()" [disabled]="ativar_spinner">
              <span class="spinner-border spinner-border-sm m-b-2" *ngIf="ativar_spinner"></span>

              Cadastrar
            </button>

            <button class="btn btn-secondary col-5" [routerLink]="['/pesquisar-produto']" [disabled]="ativar_spinner">
              <span class="spinner-border spinner-border-sm" *ngIf="ativar_spinner"></span>
              Cancelar
            </button>
          </div>
        
        </div>
        
        <div class="col-12">

          <div class="alert alert-danger mt-3 col-md-4 row" *ngIf="mensagem">
            {{mensagem}}
          </div>
        </div>
      </div>
    </div>

  </div>

</div>
